<!--<mwl-demo-utils-calendar-header [(view)]="view" [(viewDate)]="viewDate">
</mwl-demo-utils-calendar-header>-->

<div class="alert alert-warning" *ngIf="period?.events?.length === 0">
  Não existem eventos este Mês
</div>

<div class="d-flex justify-content-start w-100 flex-wrap">
  <button class="btn " (click)="prevMonth()"><i class="fa-solid fa-caret-left"></i></button>
  <h2>{{ getCurrentMonthLabel() }}</h2>
  <button class="btn " (click)="nextMonth()"><i class="fa-solid fa-caret-right"></i></button>
</div>
<br/>
<ng-template #customCellTemplate let-day="day" let-locale="locale" let-view="view" let-period="period" let-weekendDays="weekendDays" let-allDayEventRows="allDayEventRows" let-hourSegmentHeight="hourSegmentHeight"></ng-template>

<div [ngSwitch]="view" >
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events"
    [activeDayIsOpen]="true"
    [locale]="'pt'"
    (beforeViewRender)="beforeViewRender($event)"
    (eventClicked)="handleEventClick($event)"
    (allDayEventClicked)="handleAllDayEventClick($event)"
  >
  </mwl-calendar-month-view>

</div>
