.input-icons {
  vertical-align: middle;
  text-align: center;
  align-items: center;
}

.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  min-width: 40px;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
}


.content
{
  position: relative;
  height: 100%;
}

.example-spacer{
  flex: 1 1 auto;
}

.main-body
{
  padding-top: 20px;
  margin: 0 auto;

}

.main-body mat-form-field {
  width: 25%;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 17px;
  width: 100%;
  height: 100%;
}

td, th {
  width: 25%;
}

.btndisable{
  padding: 0;
border: none;
background: none;
}



* {
  box-sizing: border-box;
}


#myInput {
  background-image: url('../../../../assets/img/search.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}
