<h1 mat-dialog-title>Adicionar Aprovador</h1>
<form (ngSubmit)="ausenciaSubmited()" [formGroup]="ausenciaForm">
<div mat-dialog-content>

  <div class="form-floating">
    <input type="text" class="form-control" id="tipoid" placeholder=""
    formControlName="tipoid" value="{{input.tipoid}}" readonly>
    <label for="floatingInput">Tipo Ausência</label>
  </div>
<br/>
  <div class="d-flex justify-content-start w-100 flex-wrap">
  <div class="form-floating">
<mat-form-field>
  <label for="floatingInput">Data e Hora de Ínicio</label>
  <input matInput type="datetime-local" id="datahorainicio"
  formControlName="datahorainicio" [min]="currentDate" value="{{currentDate}}"  placeholder="start date">
</mat-form-field>
</div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div class="floatingInput">
<mat-form-field>
  <label for="floatingInput">Data e Hora de Fim</label>
  <input matInput type="datetime-local" id="datahorafim"
  formControlName="datahorafim" [min]="currentDate" value="{{currentDate}}" placeholder="start date">
</mat-form-field>
</div>
</div>



  <div class="form-floating">
    <textarea type="text" class="form-control" id="motivo" placeholder=""
    formControlName="motivo" value=""  ></textarea>
    <label for="floatingInput">Motivo</label>
  </div>

</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button cdkFocusInitial >Adicionar</button>
</div>
</form>
