<body class="bg-white text-dark py-5">
  <div class="container py-5">
       <div class="row">
            <div class="col-md-2 text-center">
                 <p><i class="fa fa-exclamation-triangle fa-5x"></i><br/>Status Code: 403</p>
            </div>
            <div class="col-md-10">
                 <h3>OPPSSS!!!! Desculpe...</h3>
                 <p>Desculpe, seu acesso foi recusado por motivos de segurança de nosso servidor e também por nossos dados confidenciais.<br/>Por favor, volte para a página anterior para continuar navegando.</p>
                 <a class="btn btn-danger" href="javascript:history.back()">Voltar Atrás</a>
            </div>
       </div>
  </div>


</body>
