<nav class="navbar navbar-dark navbar-theme-primary px-4 col-12 d-lg-none">
    <a class="navbar-brand me-lg-5" [routerLink]="['']"><img class="navbar-brand-dark" src="assets/img/id4logo.png" alt="Id4 logo"> <img class="navbar-brand-light" src="assets/img/id4logo.png" alt="Id4 logo"></a>
    <div class="d-flex align-items-center"><button class="navbar-toggler d-lg-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button></div>
 </nav>
 <nav id="sidebarMenu" class=" sidebar d-lg-block bg-gray-800 text-white collapse" data-simplebar>
    <div class="sidebar-inner px-4 pt-3">
       <div class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
          <div class="d-flex align-items-center">
             <div class="avatar-lg me-4"><img src="assets/img/avatar.png" class="card-img-top rounded-circle border-white" alt="{{data.nome}}"></div>
             <div class="d-block">
                <h2 class="h5 mb-3">Hi, Jane</h2>
                <a [routerLink]="['/sign-in']" class="btn btn-secondary btn-sm d-inline-flex align-items-center">
                   <svg class="icon icon-xxs me-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
                   </svg>
                   Sign Out
                </a>
             </div>
          </div>
          <div class="collapse-close d-md-none">
             <a href="#sidebarMenu" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="true" aria-label="Toggle navigation">
                <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                   <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                </svg>
             </a>
          </div>
       </div>
       <ul class="nav flex-column pt-3 pt-md-0">
          <li class="nav-item"><a [routerLink]="['']" class="nav-link d-flex align-items-center"><span class="sidebar-icon"><img src="assets/img/id4logo.png" height="50" width="50" alt="Id4 Logo"> </span><span class="mt-1 ms-1 sidebar-text">Ausências</span></a></li>
          <li class="nav-item active">
             <a [routerLink]="['']" class="nav-link">
                <span class="sidebar-icon">
                   <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
                      <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
                   </svg>
                </span>
                <span class="sidebar-text">Dashboard</span>
             </a>
          </li>
          <li class="nav-item">
             <span class="nav-link collapsed d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#submenu-app">
                <span>
                   <span class="sidebar-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                      <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                    </svg>
                   </span>
                   <span class="sidebar-text">Ausências</span>
                </span>
                <span class="link-arrow">
                   <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                   </svg>
                </span>
             </span>
             <div class="multi-level collapse" role="list" id="submenu-app" aria-expanded="false">
                <ul class="flex-column nav">
                   <li class="nav-item"><a class="nav-link" [routerLink]="['/tables']"><span class="sidebar-text">Gestão Teletrabalho</span></a></li>
                </ul>
             </div>
             <div class="multi-level collapse" role="list" id="submenu-app" aria-expanded="false">
              <ul class="flex-column nav">
                 <li class="nav-item"><a class="nav-link" [routerLink]="['/tables']"><span class="sidebar-text">Gestão Ausências</span></a></li>
              </ul>
           </div>
           <div class="multi-level collapse" role="list" id="submenu-app" aria-expanded="false">
            <ul class="flex-column nav">
               <li class="nav-item"><a class="nav-link" [routerLink]="['/tables']"><span class="sidebar-text">Gestão Férias</span></a></li>
            </ul>
         </div>
          </li>
          <li class="nav-item">
             <span class="nav-link collapsed d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#submenu-pages">
                <span>
                   <span class="sidebar-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                    </svg>
                   </span>
                   <span class="sidebar-text">Aprovações</span>
                </span>
                <span class="link-arrow">
                   <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                   </svg>
                </span>
             </span>
             <div class="multi-level collapse" role="list" id="submenu-pages" aria-expanded="false">
                <ul class="flex-column nav">
                   <li class="nav-item"><a class="nav-link" [routerLink]="['/sign-in']"><span class="sidebar-text">Teletrabalho</span></a></li>
                   <li class="nav-item"><a class="nav-link" [routerLink]="['/sign-up']"><span class="sidebar-text">Ausências</span></a></li>
                   <li class="nav-item"><a class="nav-link" [routerLink]="['/forgotpassword']"><span class="sidebar-text">Férias</span></a></li>
                </ul>
             </div>
          </li>
          <div class="admin-nav" *ngIf="data?.isAdmin =='True'">
          <li class="nav-item">
             <span class="nav-link collapsed d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#submenu-components">
                <span>
                   <span class="sidebar-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                      <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8Zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816ZM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z"/>
                    </svg>
                   </span>
                   <span class="sidebar-text">Utilizadores</span>
                </span>
                <span class="link-arrow">
                   <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                   </svg>
                </span>
             </span>
             <div class="multi-level collapse" role="list" id="submenu-components" aria-expanded="false">
                <ul class="flex-column nav">

                   <li class="nav-item"><a class="nav-link" [routerLink]="['/buttons']"><span class="sidebar-text">Lista Utilizadores</span></a></li>
                   <li class="nav-item"><a class="nav-link" [routerLink]="['/register']"><span class="sidebar-text">Criar Utilizador</span></a></li>
                </ul>
             </div>
          </li>
        </div>
        </ul>
    </div>
 </nav>
