table {
  border-collapse: collapse;
  width: 100%;
}

.titulo{
  width: auto;
}

.descricao{
  font-weight: 400;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: rgba(235, 235, 235, 0.867);}

.btn-secondary{
  background-color: rgb(232, 232, 232);
  color: black;
}

.btn-secondary:hover{
  background-color: rgb(189, 189, 189);
  color: black;
}
