<app-header></app-header>
<main class="content">

  <!-- NAV BAR-->
  <navbar></navbar>
  <!------------------------------------------------------------------------------------------------------------------------------------------------------------->
  <!-- NAV PAGES-->
  <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
    <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
      <li class="breadcrumb-item">
        <a href="#">
          <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
            </path>
          </svg>
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Visualizar Utilizador</li>
    </ol>
  </nav>
  <!------------------------------------------------------------------------------------------------------------>
  <!-- TITULO -->
  <div class="d-flex justify-content-between w-100 flex-wrap">
    <div class="mb-3 mb-lg-0">
      <h1 class="h4">Visualizar Utilizador</h1>
    </div>
    <div><a class="btn btn-secondary" role="button" [routerLink]="['/userlist']" routerLinkActive="router-link-active" ><i
          class="fa-solid fa-list"></i>&nbsp;Lista de Utilizador</a></div>

  </div>
  <!-------------------------------------------------------------------------------------------------------------------------------------------------------------------->

  <br />
  <table *ngIf="existsuser==true">
    <tr>
      <th class="titulo">Data última edição:</th>
      <th class="descricao">{{user.Dataultimaedicao | date:'MMMM d, y, h:mm:ss'}}</th>
    </tr>
    <tr>
      <th class="titulo">Responsável pela última edição:</th>
      <th class="descricao">{{user.Idutilizadorultimaedicao}}</th>
    </tr>
    <tr>
      <th class="titulo">Nome:</th>
      <th class="descricao">{{user.Nome}}</th>
    </tr>

    <tr>
      <th class="titulo">Email:</th>
      <th class="descricao">{{user.Email}}</th>
    </tr>
    <tr>
      <th class="titulo">NIF:</th>
      <th class="descricao">{{user.Nif}}</th>
    </tr>
    <tr>
      <th class="titulo">Código Postal:</th>
      <th class="descricao">{{user.Codpostal}}</th>
    </tr>
    <tr>
      <th class="titulo">Morada:</th>
      <th class="descricao">{{user.Morada}}</th>
    </tr>
    <tr>
      <th class="titulo">Telemóvel:</th>
      <th class="descricao">{{user.Telemovel}}</th>
    </tr>
    <tr>
      <th class="titulo">Função</th>
      <th class="descricao">{{user.Funcao}}</th>
    </tr>
  </table>
  <br/>
  <br/>

  <div class="main-body">
    <div class="d-flex justify-content-between w-100 flex-wrap">
   <mat-form-field>
      <mat-label>Filter </mat-label>
      <input style="background-color: rgb(255, 255, 255);" matInput (keyup)="applyFilter($event)" placeholder="" #input>
      <br />
    </mat-form-field>
    <div><a (click)="OpenDialog('1000ms','500ms')" class="btn btn-secondary"><i class="fa-solid fa-circle-plus"></i>&nbsp;Adicionar Aprovador</a></div>
  </div>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort *ngIf="dataSource!=null && existsaprovadores==true">

        <ng-container matColumnDef="Id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.Id}} </td>
        </ng-container>


        <ng-container matColumnDef="Nome">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
          <td mat-cell *matCellDef="let row"> {{row.Nome}} </td>
        </ng-container>


        <ng-container matColumnDef="Email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let row"> {{row.Email}} </td>
        </ng-container>


        <ng-container matColumnDef="Nif">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> NIF </th>
          <td mat-cell *matCellDef="let row"> {{row.Nif}} </td>
        </ng-container>

        <ng-container matColumnDef="Codpostal">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Código Postal </th>
          <td mat-cell *matCellDef="let row"> {{row.Codpostal}} </td>
        </ng-container>

        <ng-container matColumnDef="Morada">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Morada </th>
          <td mat-cell *matCellDef="let row"> {{row.Morada}} </td>
        </ng-container>

        <ng-container matColumnDef="Telemovel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Telemóvel</th>
          <td mat-cell *matCellDef="let row"> {{row.Telemovel}} </td>
        </ng-container>

        <ng-container matColumnDef="Funcao">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Função</th>
          <td mat-cell *matCellDef="let row"> {{row.Funcao}} </td>
        </ng-container>

        <ng-container matColumnDef="Funcionalidades">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Funcionalidades</th>
          <td mat-cell *matCellDef="let row">
            <a [routerLink]="['/userview',row.Id]"><i class="fa-solid fa-eye"></i></a>&nbsp;&nbsp;
            <button class="btndisable" (click)="RemoveAprovador(row.Id)"><i class="fa-solid fa-xmark" style="color: #f00000;"></i></button>
          </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Este utilizador não tem aprovadores</td>
    </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>


  </div>

  <!--<p *ngIf="!users || users.length <= 0">Não foram encontrados Utilizadores</p>-->

  <app-footer></app-footer>
</main>
