<div class="container">
<form class="border p-3 rounded-3" [formGroup]="loginForm" (ngSubmit)="loginSubmited()">
  <img class="mb-4" src="assets/img/id4logo.png" alt="" width="72" height="57">
  <h1 class="h3 mb-3 fw-normal">Por favor faça login</h1>

  <div class="form-floating">
    <input type="email" class="form-control" id="email" placeholder="name@example.com"
    formControlName="email">
    <label for="floatingInput">Email</label>
    <div class="form-text text-danger" *ngIf="Email.errors?.['required'] && (Email.dirty || Email.touched)">
      Email é obrigatório
    </div>
    <div class="form-text text-danger" *ngIf="Email.errors?.['email'] && (Email.dirty || Email.touched)">
      Email é inválido
    </div>
  </div>
<br/>
  <div class="form-floating">
    <input type="password" class="form-control" id="password" placeholder="Password"
    formControlName="password">
    <label for="floatingPassword">Password</label>
    <div class="form-text text-danger" *ngIf="Password.errors?.['minLength'] || Password.errors?.['maxLength'] && (Password.dirty || Password.touched)">
      A password tem no mínimo 8 caracteres
    </div>
    <div class="form-text text-danger" *ngIf="Password.errors?.['required'] && (Password.dirty || Password.touched)">
      Password é obrigatória
    </div>

  </div>
  <br/>
  <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="loginForm.invalid">Login</button>

</form>
</div>
<!--<app-footer></app-footer>-->


