<div class="col-md-12">
  <div class="row">
    <div class="col-xl-4 col-lg-6">
      <div class="card l-bg-blue-dark">
        <div class="card-statistic-3 p-4">
          <div class="card-icon card-icon-large"><i class="fas fa-solid fa-plane"></i></div>
          <div class="mb-4">
            <h1 class="card-title mb-4"><b>Férias</b></h1>
          </div>
          <div class="card-footer">
            <div class="stats">
              <a class="a" href="/ferias">Marcar Férias <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

<!---------------------------------------------------------------------------------------------------------------->

    <div class="col-xl-4 col-lg-6">
      <div class="card l-bg-green-dark">
        <div class="card-statistic-3 p-4">
          <div class="card-icon card-icon-large"><i class="fas fa-solid fa-headset"></i></div>
          <div class="mb-4">
            <h1 class="card-title mb-0"><b>Teletrabalho</b></h1>
          </div>

          <div class="card-footer">
            <div class="stats">
              <a class="a" href="/teletrabalho">Marcar Teletrabalho <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>


<!----------------------------------------------------------------------------------------------------->


    <div class="col-xl-4 col-lg-6">
      <div class="card l-bg-red-dark">
        <div class="card-statistic-3 p-4">
          <div class="card-icon card-icon-large"><i class="fas fa-solid fa-door-open"></i></div>

          <div class="mb-4">
            <h1 class="card-title mb-0"><b>Ausências</b></h1>
          </div>

          <div class="card-footer">
            <div class="stats">
              <a class="a" href="/ausencias">Marcar Ausência <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>
