<br/>
<br/>
<p><b>Férias marcadas:</b> 10 - 22</p>
<mat-progress-bar mode="determinate" value="22"></mat-progress-bar>
<br/>

<div>
  <mat-grid-list cols="4" rowHeight="3:2" [gutterSize]="'100px'">
    <mat-grid-tile><button class="btn"><i class="fa fa-close"></i> <br> Ausências Marcadas </button></mat-grid-tile>
    <mat-grid-tile><button class="btn"><i class="fa fa-trash"></i> <br> Férias Marcadas </button></mat-grid-tile>
    <mat-grid-tile><button class="btn"><i class="fa fa-trash"></i> <br> Férias Utilizadores </button></mat-grid-tile>
    <mat-grid-tile><button class="btn"><i class="fa fa-home"></i> <br> Aprovação <br> Férias Pendentes</button></mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="4" rowHeight="3:2" [gutterSize]="'100px'">
    <mat-grid-tile><button class="btn"><i class="fa fa-bars"></i> <br> Adicionar Ausências </button></mat-grid-tile>
    <mat-grid-tile><button class="btn"><i class="fa fa-home"></i> <br> Adicionar Férias </button></mat-grid-tile>
    <mat-grid-tile><button class="btn"><i class="fa fa-bars"></i> <br> Ausência Pendentes </button></mat-grid-tile>
    <mat-grid-tile><button class="btn"><i class="fa fa-close"></i> <br> Quadro de Férias </button></mat-grid-tile>
  </mat-grid-list>
</div>
