<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
     <p> <span class="mb-3 mb-md-0 text-muted"><img class="mb-4" src="../../../../assets/id4logo.png" alt="" width="24" height="19">© 2023 Id4software - Sistemas de Informação, Lda</span></p>
    </div>


      <a class="ms-3"><a class="text-muted" href="https://www.id4software.com/" target="_blank" rel="noopener noreferrer">Website<svg class="bi" width="24" height="24"><use xlink:href=""></use></svg></a></a>


  </footer>
</div>
